[Unit]
Description=Trading 212 Streamlit Dashboard
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/trdbt
ExecStart=/opt/trdbt/venv/bin/streamlit run app.py --server.address=0.0.0.0 --server.port=8501 --server.headless=true
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tradingui

[Install]
WantedBy=multi-user.target
